NEXT_PUBLIC_API_URL_BENGKEL_KODING=http://localhost:8080
NEXT_PUBLIC_GETAPICLASSROOM_URL_BENGKEL_KODING=http://localhost:8080

# link endpoint api login with google
NEXT_PUBLIC_API_LOGIN_WITH_GOOGLE=http://localhost:8080

# next image domains url
NEXT_PUBLIC_IMAGE_DOMAINS=bengkod-api.rayhanashlikh.my.id,mahasiswa.dinus.ac.id,simpeg.dinus.ac.id

# recaptcha
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LfczHkqA
RECAPTCHA_SECRET_KEY=6Lfc